@import '../vars.scss';

.footer {
	padding: 133px 15px 58px 15px;
	background: url(../img/footer_bg.jpg) top center no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	color: #fff;
	font-family: $raleway;
	font-weight: bold;

	&__item {
		line-height: 1.2;
		font-size: 22px;

		&:nth-child(2) {
			margin: 0 120px 0 50px;
		}

		a {
			color: #fff;
			line-height: 1;

			&:hover {
				text-decoration: none;
			}
		}

	}
}

@media (max-width: 990px) {
	.footer {
		padding: 80px 15px 50px 15px;
		justify-content: space-between;
		flex-wrap: wrap;

		& img {
			width: 100%;
		}

		&__item {
			width: 45%;

			&:nth-child(2) {
				margin: 0 15px;
			}
			&:last-child {
				margin: 0 auto;
				text-align: center;
				margin-top: 30px;
			}
		}
	}
}
@media (max-width: 700px) {
	.footer__item {
		font-size: 16px;
	}
}	
@media (max-width: 480px) {
	.footer__item {
		width: 100%;
	&:nth-child(2) {
		margin-top: 15px;
	}
	}

}	