
body {
	background: #fff;
}
ul {
	padding-left: 0;
	list-style-type: none;
}
a:hover {

}

@import 'fonts.scss';
@import 'vars.scss';
@import './components/header.scss';
@import './components/navigation.scss';
@import './components/submenu.scss';
@import './components/stationery_banner.scss';
@import './components/stationery_goods.scss';
@import './components/footer.scss';